.blogListContainer {
  display: flex;
  flex-direction: column;
  min-width: 280px;

  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .blogListContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1500px) {
  .blogListContainer {
    max-width: 80%;
  }
}
