.blogListContainer {
  display: flex;
  gap: 30px;
  min-width: 280px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width: 1500px) {
  .blogListContainer {
    max-width: 80%;
    gap: 50px;
  }
}
