.blogPostMain {
  max-width: 920px;
  margin: 0 auto;
}

.blogPostHeader {
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.blogPostHeader p {
  color: rgb(98, 98, 98);
  margin-bottom: 1rem;
  font-weight: bold;
}

.blogPostHeader h1 {
  color: #813634;
  font-size: 1.35rem;
}

.blogPostBody {
  /* line-height: 1.6; */
  color: rgb(82, 82, 82);
  text-align: justify;
  padding: 0.5rem 1rem;
}

.blogPostBody p:first-child {
  margin-bottom: 1rem;
  text-align: center;
}

.blogPostBody img {
  width: 85%;
}

.blogPostBody p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.blogPostBody h2 {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blogPostBody h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.blogPostBody li {
  list-style: inside;
}

.blogPostBody a {
  color: #813634;
}

.blogPostBody h1 {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .blogPostHeader h1 {
    font-size: 1.6rem;
  }

  .blogPostBody {
    padding: 0.5rem 2rem;
  }

  .blogPostBody img {
    width: 70%;
  }

  .blogPostBody h2 {
    font-size: 1.3rem;
  }

  .blogPostBody p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}
