.cardContainer {
  text-align: center;
}
.imageContainer {
  width: 250px;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.image {
  width: 100%;
  border-radius: 1rem;
  transition: transform 900ms;
  height: 200px;
  transform: scale(1.2);
}

.image:hover {
  transform: scale(1.4);
}

@media screen and (min-width: 768px) {
  .imageContainer {
    width: 200px;
  }
  .image {
    height: 200px;
  }
}
/* @media screen and (min-width: 1024px) {
} */
@media screen and (min-width: 1200px) {
  .imageContainer {
    width: 175px;
  }
  .image {
    height: 180px;
    transform: scale(1.5);
  }
}
