.cardContainer {
  text-align: center;
}
.imageContainer {
  width: 200px;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.image {
  width: 100%;
  height: 200px;
  border-radius: 1rem;
  transition: transform 900ms;
}

.image:hover {
  transform: scale(1.4);
}
