.cardsGrid {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 652px;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}
