.cardsGrid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .cardsGrid {
    gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 652px;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}
