.cardContainer {
  text-align: center;
  margin: 0.5rem 0;
}
.imageContainer {
  width: 250px;
  height: 280px;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.image {
  width: 100%;
  border-radius: 1rem;
  transition: transform 900ms;
  object-fit: contain;
  transform: translateY(-90px);
}

@media screen and (min-width: 768px) {
  .imageContainer {
    width: 200px;
    height: 200px;
  }
  .image {
    transform: translateY(-130px);
  }
  .image:hover {
    transform: scale(1.17) translateY(-115px);
  }
}

@media screen and (min-width: 1200px) {
  .cardContainer {
    margin: 0 0.5rem;
  }
  .imageContainer {
    width: 185px;
    height: 175px;
  }
  .image {
    width: 100%;
    object-fit: contain;
    transform: scale(1.1) translateY(-110px);
  }

  .image:hover {
    transform: scale(1.17) translateY(-115px);
  }
}
