.main {
  display: flex;
  flex-direction: column;
}

.left h1 {
  font-size: 1.5rem;
  color: #813634;
  font-weight: 800;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 0px gray;
}

.left .imageContainer {
  max-width: 350px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.left img {
  width: 100%;
  border-radius: 20px;
  transform: translateY(-70px);
}

.left h2 {
  font-weight: 800;
  text-shadow: 1px 1px 0px gray;
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90px);
  color: white;
}

@media screen and (min-width: 768px) {
  .left h1 {
    font-size: 1.7rem;
    margin-bottom: 1.1rem;
  }

  .left .imageContainer {
    max-width: 400px;
    height: 350px;
  }

  .left img {
    width: 100%;
    border-radius: 20px;
    transform: translateY(-70px);
  }
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1201px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1368px;
    margin: 0 auto;
  }

  .left {
    padding: 2rem;
    margin: 0 auto;
  }

  .left h1 {
    font-size: 3rem;
    margin-bottom: 4.5rem;
  }

  .left .imageContainer {
    width: 500px;
    height: 500px;
  }

  .left img {
    transform: translateY(-95px);
  }

  .left h2 {
    font-size: 1.7rem;

    transform: translate(-50%, 90px);
  }

  .right {
    padding: 4rem 3rem;
  }

  .icon {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1500px) {
  .main {
    transform: translateX(-2rem);
  }
}
