/* .container {
  padding: 0.5rem;
  background: url("/crumpy3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
} */

.main {
  display: flex;
  flex-direction: column;
}

/* .left {
} */

.left h1 {
  font-size: 1.5rem;
  color: #813634;
  font-weight: 800;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 0px gray;
}

.left .imageContainer {
  max-width: 350px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.left img {
  width: 100%;
  border-radius: 20px;
  transform: translateY(-70px);
}

.left h2 {
  font-weight: 800;
  text-shadow: 1px 1px 0px gray;
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90px);
  color: white;
}

/* .right {
  padding: 0rem 0rem;
} */

.socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  width: 60%;
  margin: 0 auto;
  transform: translateY(1.5rem);
}

.icon {
  color: #813634;
  font-size: 1.4rem;
  transition: transform 300ms;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  /* .container {
    padding: 1rem;
    height: 100vh;
  } */
  .left h1 {
    font-size: 1.7rem;
    margin-bottom: 1.1rem;
  }

  .left .imageContainer {
    max-width: 400px;
    height: 350px;
  }

  .left img {
    width: 100%;
    border-radius: 20px;
    transform: translateY(-70px);
  }
  .socials {
    padding: 0.5rem;
    width: 65%;
    transform: translateY(1.3rem);
  }
}
@media screen and (min-width: 1024px) {
  .socials {
    padding: 0.5rem;
    width: 60%;
    transform: translateY(1.3rem);
  }
}
@media screen and (min-width: 1200px) {
  /* .container {
    padding: 7rem;
  } */

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1368px;
    margin: 0 auto;
  }

  .left {
    padding: 2rem;
    margin: 0 auto;
  }

  .left h1 {
    font-size: 3rem;
    margin-bottom: 4.5rem;
  }

  .left .imageContainer {
    width: 500px;
    height: 500px;
  }

  .left img {
    transform: translateY(-95px);
  }

  .left h2 {
    font-size: 1.7rem;

    transform: translate(-50%, 90px);
  }

  .right {
    padding: 4rem 3rem;
  }

  .socials {
    padding: 1rem;
    width: 60%;
  }

  .icon {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1500px) {
  .main {
    transform: translateX(-2rem);
  }
}
