.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #813634;
  margin-bottom: 2rem;
  /* font-size: 1.3rem; */
  padding: 0.2rem;
}
.title {
  text-decoration: underline;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  background-color: #813634;
  background: rgb(101, 29, 29);
  background: linear-gradient(90deg, #813634 41%, #6b0f1a 70%);
  padding: 0.5rem;
  min-width: 80px;
  text-align: center;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.nav {
  display: none;
  gap: 1rem;
  font-weight: bold;
}

.menu {
  cursor: pointer;
}

.mobileNav {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  top: 3rem;
  right: 0.7rem;
  z-index: 1000;
  font-size: 0.9rem;
  font-weight: 800;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;

  transition: all 400ms ease;
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.mobileNav a {
  border-bottom: 1px solid #813634;
  padding: 4px 2px;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  .title {
    min-width: 120px;
    font-size: 1.3rem;
  }
  .nav {
    display: flex;
    gap: 1rem;
    font-weight: 800;
  }

  .menu,
  .mobileNav {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1500px) {
  .header {
    justify-content: space-around;
    padding: 0;
  }
}
